{% extends "jri/list_base.html" %}

{% block metaTitle %} CHECKED VIDEO {% endblock %}

{% block mainTitle %} Checked Videos {% endblock %}

{% block mainContent %}

    {% if object_list %}
        <table class="pure-table-bordered pure-table pure-table-striped" 
                style="margin-left: auto; margin-right: auto;">
            <thead style="background-color:  #fcf75e;">
                <tr>
                    <th>Video Name</th>
                    <th>Infixations Found</th>
                    <th>Date Checked</th>
                </tr>
            </thead>
            {% for checked_vid in object_list %}
            <tr>
                <td><a href="https://www.youtube.com/watch?v={{checked_vid.vid_id}}">{{checked_vid.vid_title}}</a></td>
                <td>?</td>
                <td>{{checked_vid.checked_date}}</td>
            </tr>

            {% endfor %}
        </table>
    {% endif %}

    <div class="pagination" style="margin-top: 30px;">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">◀</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">▶</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock %}
