
{% extends "jri/list_base.html" %}

{% block metaTitle %}All JRIs{% endblock %}

{% block mainTitle %}JOE ROGAN INFIXATION DATABASE{% endblock %}

{% block mainContent %}
<table class="pure-table-bordered pure-table pure-table-striped" 
        style="margin-left: auto; margin-right: auto;">
    <thead style="text-align: center; background-color:  #fcf75e;">
        <tr>
            <th>Infixation</th>
            <th>Youtube Likes</th>
            <th>Details</th>
        </tr>
    </thead>
{% if object_list %}
    <tbody>
        {% for i in object_list %}
        <tr class="pure-table">
            <td>Joe "<span style="font-weight: bold;">{{i.only_text_field}}</span>" Rogan</td>
            <td>{{i.likes}}</td>
            <td><a href="/jri/infixation/{{i.id}}">■</a></td>
        </tr>
        {% endfor %}
    </tbody>
{% endif %}
</table>

<span class="step-links">
    {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">◀</a>
    {% endif %}

    <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">▶</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
</span>

{% endblock %}        
