<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'pure-2.0.6/build/pure-min.css' %}">
        <link rel="icon" href="{% static favicon.ico %}">
        <title> {% block metaTitle%} {% endblock %} JRI SITE </title>
    </head>

    <body style="margin:auto; text-align: center;">

        <div class="pure-menu pure-menu-horizontal">
            <ul class="pure-menu-list">
                <li class="pure-menu-item">
                    <a href="/jri" class="pure-menu-link">Infixations</a>
                </li>
                <li class="pure-menu-item">
                    <a href="#" class="pure-menu-link">About</a>
                </li>
                <li class="pure-menu-item">
                    <a href="/jri/list_source_vids" class="pure-menu-link">Source Videos</a>
                </li>
            </ul>
        </div>

        <h1 class="splash-head">
            {% block mainTitle %} {% endblock %}
        </h1>

        <div class="pagination" style="margin-top: 30px;">
            {% block mainContent %}
            {% endblock %}
        </div>

    </body>

</html>